
 body{
     background-color:#FFFAF0 ;
}
.formulario{
    padding: 0 auto;
    margin-left:25vw;
    margin-right:25vw;
    border: px solid black;
    padding: 15px;
    width: 50vw;
}
form > input{
    margin-left: 20vw;
    position: static;
    width: 10vw;
}
.boton{
    margin-left: 20.2vw;
}
.cad{
    margin-left:21vw;
}
h1{
    text-align: center;
}
li{
    margin-left:45vw;
}
.cadena{
    text-align: center;
}